@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
  font-style: italic;
}

* {
  margin: 0;
}

:root {
  font-size: 10px;
  --primary-color: #2d2d2d;
  --secondary-color: #ff2d55;
  font-family: "Open Sans";
  font-variation-settings: "wght" 500;
}

.App {
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AppHeader {
  background-color: white;
  width: 100vw;
  height: 10vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
}

.AppLogo {
  height: 5vmin;
  padding: 2vmin;
  pointer-events: none;
}

button {
  font-family: "Open Sans";
  font-size: 1.5rem;
  width: 60%;
  align-self: center;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  background-color: transparent;
}
