@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
  font-style: italic;
}

* {
  margin: 0;
}

:root {
  font-size: 10px;
  --primary-color: #2d2d2d;
  --secondary-color: #ff2d55;
  font-family: "Open Sans";
  font-variation-settings: "wght" 500;
}

.App {
  position: relative;
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GlitterWrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

@keyframes glitter-rain-a {
  from {
    transform: translateY(-100vh) rotateX(0deg) rotateY(90deb);
  }
  to {
    transform: translateY(100vh) rotateX(180deg) rotateY(360deg);
  }
}

@keyframes glitter-rain-b {
  from {
    transform: translateY(-100vh) rotateX(90deg) rotateY(0deg);
  }
  to {
    transform: translateY(100vh) rotateX(360deg) rotateY(180deg);
  }
}

.GlitterA {
  position: absolute;
  width: 10px;
  height: 10px;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-name: glitter-rain-a;
  animation-fill-mode: forwards;
}

.GlitterB {
  position: absolute;
  width: 10px;
  height: 10px;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-name: glitter-rain-b;
  animation-fill-mode: forwards;
}

.AppHeader {
  background-color: white;
  width: 100vw;
  height: 10vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
}

.AppLogo {
  height: 5vmin;
  padding: 2vmin;
  pointer-events: none;
}

button {
  font-family: "Open Sans";
  font-size: 1.5rem;
  width: 60%;
  align-self: center;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  background-color: transparent;
}
